/*-----Fonts-----*/
@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');

/*-----Navbar-----*/
.navbar{
    font-size: 1.15rem;
    font-weight: 600;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .1);
    font-family: "Merriweather", sans-serif;
    background-color: white;
}
/*Company logo*/
.navbar-brand img{
    height: 80px;
}
/*Spacing between nav links*/
.nav-item {
    padding: 20px;
}

/*----------Home page----------*/

/*-----Hero-----*/
/*Hero container*/
.hero{
    background-color: grey;
}
/*Company name*/
.company-name{
    color: white;
    padding: 40px;
}
/*Hero image*/
.hero-image{
    padding-bottom: 40px;
}

/*----Home sections-----*/
/*space between sections*/
.home-section{
   padding: 60px;
   text-align: center;
}
/*Home section title*/
.home-section-title{
    padding: 20px;
}
/*Home section parapgraph*/
.home-section-paragraph{
    letter-spacing: 1px;
}
/*Home section images*/
.home-section-image{
    height: 300px;
    width: 300px;
    padding: 20px;
}

/*About section*/

/*Menus section*/
.menus-section{
    background-color: grey;
    color: white;
}

/*Gallery section*/

/*Contact us section*/
.contact-us-section{
    background-color: grey;
    color: white;
}

/*-----Footer-----*/
footer{
    background-color: white;
    color: black;
    font-size: 1.15rem;
    font-weight: 600;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .1);
    font-family: "Merriweather", sans-serif;
    padding: 20px;
    text-align: center;
}
/*Footer section*/
.footer-section{
    padding: 20px;
}
/*Footer heading*/
.footer-heading{
    padding-bottom: 20px;
}
/*Links*/
a{
    color: black;
}
/*Change to blue hoovering over links*/
footer>a:hoover{
    color: blue;
}
/*Padding between icons*/
i.fab{
    padding: 4px;
}

/*-----Page heading-----*/
.page-heading{
    padding: 40px;
    text-align: center;
    background-color: grey;
    color: white;
    letter-spacing: 1px;
    font-size: large;
}
/*Page title*/
.page-title{
    padding: 20px;
    text-decoration: underline;
}
/*Page paragraph*/
.page-paragraph{
    padding: 20px;
}

/*-----Menu Page-----*/
/*Menus row*/
.menus{
    padding: 60px;
    text-align: center;
}
/*Menu title*/
.menu-title{
    padding: 20px;
}
/*Menu descrition*/
.menu-description{
    letter-spacing: 1px;
}
/*Menu image*/
.menu-image{
    height: 300px;
    width: 300px;
    padding: 20px;
}

/*Party menu*/

/*Wedding menu*/
.wedding-menu{
    background-color: grey;
    color: white;
}

/*BBQ menu*/

/*Desserts menu*/
.desserts-menu{
    background-color: grey;
    color: white;
}

/*-----Gallery Page-----*/
/*Gallery imaiges*/
.gallery-images {
    width: 300px;
    height: 300px;
    margin: auto;    
    display: block;
    padding-top: 40px;
    padding-bottom: 40px;
}

/*-----Contact Page-----*/
.contact-form{
    padding: 36px;
}
.submit-button{
    text-align: center;
}
