@import url('https://fonts.googleapis.com/css2?family=Merriweather&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap');


/*------------------------Nav Bar------------------------*/

.navbar-brand img{
    height: 80px;
}

.navbar{
    font-size: 1.15rem;
    font-weight: 600;
    box-shadow: 0 .5rem .5rem rgba(0, 0, 0, .1);
    font-family: "Merriweather", sans-serif;
}

.nav-item {
    padding: 20px;
}

/*------------------------Heading------------------------*/

h1{
    text-align: center;
    font-family: "Merriweather", sans-serif;
    padding-top: 24px;
}

h2{
    text-align: center;
    font-family: "Merriweather", sans-serif;
    padding: 12px;
}

.img-fluid{
   padding: 12px; 
}

/*------------------------Home Page Paragraph------------------------*/

h3 {
    text-align: center;
    font-family: "Merriweather", sans-serif;
    padding: 12px;
}

.home-page-paragraph{
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 100%;
}

/*------------------------Menu Section------------------------*/

.col-sm{
    text-align: center;
    padding: 24px;
}

.col-sm h4{
    padding: 12px;
    font-family: "Merriweather", sans-serif;
}

.col-sm img {
    width: 240px;
    height: 240px;
}

/*------------------------Gallery------------------------*/

.paragraph-gallery{
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 120%;
    padding-bottom: 20px;
}

.col-lg-4 img {
    width: 320px;
    height: 320px;
    margin: auto;    
    display: block;
    padding: 10px;
}


/*------------------------Form------------------------*/

.contact-heading{
    font-family: "Merriweather", sans-serif;
    padding-bottom: 36px;
}

.contact-paragraph{
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 110%;
    padding-bottom: 24px;
}



.contact-form{
    padding: 36px;
}

/*------------------------Thank You Page------------------------*/

.thankyou-message{
    text-align: center;
    font-family: "Oswald", sans-serif;
    padding-top: 120px;
    padding-bottom: 120px;
}


/*------------------------Footer------------------------*/

footer{
    background-color: black;
    color: #fff;
    min-height: 120px;
    margin-top: 48px;
    padding: 20px;
    text-align: center;
    font-family: "Oswald", sans-serif;
}


/*--------------------------Media Queries----------------*/

@media screen and (min-width: 992px){
    padding-top: 30px;
    min-height: 240px;
    margin: 0 auto;
    max-width: 50%;
}